// TYPOGRAPHY
$font-stack: "Spartan", sans-serif;
$font-size: 15px;
$font-light: 400;
$font-medium: 500;
$font-bold: 700;

// PRIMARY COLORS
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// NEUTRAL COLORS
$dark-magenta: hsl(303, 10%, 53%);
$light-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

body {
  background: url('./images/bg-pattern-bottom-desktop.svg') right bottom no-repeat, url('./images/bg-pattern-top-desktop.svg') left top no-repeat;

  height: calc(100vh - 200px);
  margin: 100px 180px 100px 180px;
  font-family: $font-stack;
  font-size: $font-size;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title rating"
    "reviews reviews";
}

div.title {
  grid-area: title;
  padding-right: 40px;

  h1 {
    color: $very-dark-magenta;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 110%;
  }

  p {
    color: $dark-magenta;
    line-height: 175%;
  }
}

div.rating {
  grid-area: rating;
  align-self: top;
  margin-top: 40px;
  margin-bottom: 70px;
  height: 230px;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "first"
    "second"
    "third";

  div {
    width: 450px;
    height: 60px;
    background-color: $light-magenta;
    border-radius: 10px;
    color: $very-dark-magenta;
    font-weight: $font-bold;
    font-size: 0.9em;
  }

  .first {
    grid-area: first;
    justify-self: start;
  }

  .second {
    grid-area: second;
    justify-self: center;
  }

  .third {
    grid-area: third;
    justify-self: end;
  }

  .stars {
    float: left;
    width: 40%;
    line-height: 65px;
    margin: 0px;
    padding: 0px;
  }

  .stars img {
    margin: 0 3px;
  }

  p {
    float: left;
    width: 60%;
    text-align: left;
    line-height: 60px;
    margin: 0px;
    padding: 0px;
  }
}

div.reviews {
  grid-area: reviews;
  display: flex;
  justify-content: space-between;

  img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 30px;
  }

  .profile {
    float: left;
    margin-left: 20px;
    margin-top:20px;
  }

  .name {
    color: $white;
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 3px;
  }

  .buyer {
    color: $soft-pink;
    font-weight: $font-light;
    margin-top: 0px;
    font-size: 0.9em;

  }

  .feedback {
    float: left;
    font-size: 0.8em;
    font-weight: $font-medium;
    color: $white;
    line-height: 150%;
    letter-spacing: .05em;
    margin-top: 20px

  }

  .box {
    width: 31%;
    background-color: $very-dark-magenta;
    height: 250px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
  }

  .first {
  }

  .second {
    margin-top: 20px;
  }

  .third {
    margin-top: 40px;
  }
}
